* {
    box-sizing: border-box;
  }

html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}

img{
    max-width:100%;
    display: block;
    border-radius: 5px;
}

header{
    margin: 0 0 20px 0;
    padding:0;
    height: 200px;
}

header h1{
    margin:0;
    padding: 0;
}

header img{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Flexbox section */
  
.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1500px;
    position: relative;
}

.flex > div{
    flex: 1 1 200px;
    margin: 0 10px;
    min-width: 300px;
    min-height: 320px;
}

.flex > div h1{
    margin: 0 auto;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
    color: rgb(109, 109, 109);
}

.flex > div a{
    max-width:100%;
    display: block;
    border-radius: 5px;
    
}

.flex > div img{
    flex-shrink: 0;
    min-width: 320px;
    min-height: 240px;
    object-fit: cover;
    
}

.author{
    z-index: 100;
    position: absolute;
    color: #fff ;
    margin: 5px;
    padding: 5px;
    background-color: hsla(0, 0%, 0%, 0.7);
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}